<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*Aqui estão nossos Bundles vai funcionar igual às tags html abaixo
      Quando tenho apenas uma linha de código (sem abrir chaves) não preciso de ponto e vírgula*@
    @Styles.Render("~/css/site")
    @Scripts.Render("~/js/site")
    @RenderSection("Styles", required: false)

    @*Tags Html para estilos e scripts*@
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>*@

</head>