* {
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    text-decoration: none;
    border: none;
    font-size: 20pt;
}

header {
    background-color: rgb(46,117,182);
    color: white;
    padding: 6px;
    margin-bottom: 5px;
}

.img-presentation {
    max-width: 150px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 25px;
}

table {
    margin-top: 25px;
}

thead {
    background-color: rgb(46,117,182);
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: rgb(210, 222, 239);
}

tbody tr:nth-child(even) {
    background-color: rgb(234, 239, 247);
}

.slide-control{
    position: absolute;
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
}

.slide-control button{
    background-color: transparent;
}

.legend{
    display: block;
    font-size: 12pt;
    text-align: right;
}

@media all and (max-width: 1200px) {
    .slide-control{
        top: 0;
        right: 0;
        bottom: unset;
        left: unset;
    }

    img{
        width: 100%;
        max-height: 100%;
    }
}

@media all and (max-height: 620px) {
    .slide-control{
        top: 0;
        right: 0;
        bottom: unset;
        left: unset;
    }
}